html {
    background-color: rgb(78, 78, 78);
    color: white;
}

h1 {
    text-align: center;
}

.scores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    font-size: xx-large;
}

.choices {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5%;
}

.choices div {
    display: flex;
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 5px;
    user-select: none;
}

.choices div:hover {
    box-shadow: 0 0 10px antiquewhite;
}

.choices div:active {
    background-color: antiquewhite;
    color: rgb(78, 78, 78);
}